body {
  background-color: palegreen;
}

h1 {
  margin: 16px;
}

form#filterBarForm {
  margin: 32px;
  padding: 16px;
  border: 1px solid green;
}

div#observationsDiv {
  padding: 32px;
  display: block;
  height: auto;
}

div.observationCard {
  margin: 16px;
  width: 120px;
  height: 240px;
  float: left;
  overflow: auto;
}

div.observationCard img {
  width: 120px;
}
